footer{
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
}

.padre {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.hijo {
    padding: 0 20px;
}

.hijo img{
    width: 60px;
}

.copyright {
    text-align: center;
    color: white;
}