@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,700;0,900;1,200&display=swap');
        
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
   }

.main{
    margin: auto;
    max-width: 800px; 
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo-nike{
    padding-left: 10px;
    background-color: black;
}

.logo-maratones{
    padding-bottom: 10px;
    background-color: black;
    text-align: center;
}

.bloque-zapatillas {
    background-color: black;
}

.descripcion-zapatilla {
    color: white;
    text-align: center;
}

.imagen-zapatilla {
    color: white;
    width: 150px;
    height: 72px;
    display: block;
    margin: auto;
}

.lema{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.lema h3{
    color: white;
    font-size: 2em;
}
.lema p{
    color: white;
}

.table-info{
    width: 100%;
}

.table-info p{
    color: white;
}

.imagen-run {
    color: white;
    width: 250px;
    display: block;
    margin: auto;
}

.footer{
    background-color: black; 
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.footer h2{
    color: gray;
    padding-bottom: 30px;
    font-size: 2em;
}

.footer button{
    background-color: gray;
    color: white;
    padding: 10px 45px;
    text-decoration: none;
}